<div class="container">
  <main>
    <div class="image-wrapper">
      <img src="../../assets/photos/profile.png" alt="">
    </div>

    <div class="description">
        Diplômé d'un master 2 DAPM (Développement et Applications sur Plateformes Mobiles) à la faculté des sciences et techniques de La Garde, j’exerce actuellement le métier d’ingénieur d'études et de développement au sein du Groupe Capgemini. Je possède un master en cryptologie et j'ai déjà effectué un stage R&D, à l’institut Télécom-Bretagne sur la sécurité des bases de données relationnelles. J’apprécie particulièrement le langage Java et tout ce qui tourne autour (Android, JavaEE, Java Card ...) ainsi que les technologies web.
    </div>

    <div class="button-wrapper">
      <button class="button">Télécharger mon CV</button>
    </div>
  </main>

</div>
