div.title {
  h2 {
    margin-left: 14px;
    margin-top: 0;
    font-family: ProzaLibreBold, "Proza Libre", sans-serif;
    color: var(--blue);
    i.material-icons {
      color: white;
      background-color: var(--blue);
      border-radius: 50%;
      padding: 5px;
      margin-right: 10px;
      position: relative;
      top: 3px;
    }
  }
}
