div.container{
  min-height: 100vh;
  background-color: rgba(128,128,128, 0.15);
  main {
    padding-top: 55px;
    div.services {
      display: flex;
      flex-wrap: wrap;
      app-service {
        flex: 0 50%;
      }
    }
  }
}
