footer.cv.footer {
  padding: 20px;
  background-color: var(--blue);
  color: white;
  div.licence {
    width: 120px;
    margin: auto auto 10px;
  }
  div.icon {
    width: 20px;
    margin: auto;
    img.linkedin {
      width: 100%;
      position: relative;
      right: 10px;
    }
  }

}
