@import "../../../scss/variables";

div.container {
  min-height: 100vh;
  position: relative;
  background: url(#{$url-root}/photos/images/architect.jpg) no-repeat top;
  background-size: cover;
  div.presentation {
    padding: 50px 14px;
    font-family: ProzaLibreBold, "Proza Libre", sans-serif;
    font-size: 2.2rem;
    p {
      color: white;
      span {
        color: var(--green);
      }
    }
    app-down-button {
      position: absolute;
      bottom: 80px;
      left: calc(50vw - 30px);
    }
  }
}

@media screen and (max-width: 750px) {
  div.container {
    background: url(#{$url-root}/photos/images/architect-mobile-comp.jpg) no-repeat top;
    background-size: cover;
  }
}
