div.cv-container {
  section.content {
    visibility: hidden;
    opacity: 0;
    display: none;
    &.show {
      display: block;
      visibility: visible;
      opacity: 1;
      transition: visibility 0.7s ease, opacity 0.7s ease;
    }
  }
}
