/* You can add global styles to this file, and also import other style files */
@import "scss/variables";

:root {
  --green: #93A585;
  --blue: #3D404E;
  --brown: #654B51;
}

@font-face {
  font-family: ProzaLibreBold;
  src: url(#{$url-root}/police/ProzaLibre-Bold.ttf);
}

@font-face {
  font-family: OpenSansRegular;
  src: url(#{$url-root}/police/OpenSans-Regular.ttf);
}

body {
  margin: 0;
  font-family: OpenSansRegular, "Open Sans", sans-serif;
}
